@import 'colors';
@import 'margin-padding';
@import 'dinamyc';
@import 'other';

body {
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/backgrounds/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); // размыть фоновую картинку
    z-index: -1;
}

.transparent-nav {
    opacity: 0.8
}

//@import 'schemas/_colorschema_orange';
@import 'schemas/_colorschema_white';
