@use '../abstracts/mixin' as *;

/*----------------------Blog--------------------*/
.side-blog {
    margin-right: 5px;
    margin-bottom: 56px;

    &:hover .post-thumbnail img {
        transform: scale(1.1);
    }

    .blog-image {
        position: relative;
        overflow: hidden;
        margin-bottom: 34px;

        .list-categories {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;

            .new {
                font-size: 20px;
                font-weight: 600;
                line-height: 25px;
                padding: 14px 22px;
                background-color: $primary;
                border-radius: 5px;
                color: $white;
                display: inline-block;
                width: 82px;
                text-align: center;

                &:hover {
                    background-color: $secondary;
                }
            }
        }

        .post-thumbnail {
            img {
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
        }
    }

    .top-detail-info {
        ul {
            li {
                &:not(:last-child) {
                    margin-right: 33px;

                    &::before {
                        position: absolute;
                        content: '';
                        width: 10px;
                        height: 1px;
                        background-color: $text3;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -23px;
                    }
                }

                font-size: 15px;
                font-weight: 500;
                line-height: 18.9px;
                color: $text3;
                position: relative;

                i {
                    color: $primary;
                    font-size: 17px;
                    margin-right: 7px;
                }

                & a {
                    color: $text3;
                }
            }
        }
    }

    .blog-content {

        .entry-title {
            margin-top: 19px;
            margin-bottom: 19px;
        }

        .description {
            margin-bottom: 39px;
            line-height: 33px;
        }
    }


}

.side-blog-single {
    margin-bottom: 0;

    .image {
        margin-bottom: 29px;
    }

    .entry-title {
        font-size: 30px;
        font-weight: 700;
        line-height: 44.2px;
        margin-top: 25px;
        margin-bottom: 24px;
    }

    .blockquote-blog {
        padding: 38px 10em 23px 35px;
        background-color: $bg5;
        position: relative;

        p {
            font-size: 21px;
            font-weight: 700;
            line-height: 43px;
            margin-bottom: 25px;
        }

        .quote-title {
            font-size: 16px;
            font-weight: 500;
            line-height: 20.16px;
            padding-left: 30px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 17px;
                height: 2px;
                background-color: $black;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

        }

        i {
            position: absolute;
            bottom: 13%;
            right: 5%;
            font-size: 40px;
            color: $primary;

        }
    }

}

.side-blog-single-content {
    .ux-content {
        h3.title {
            font-size: 27px;
            font-weight: 600;
            line-height: 53px;
            color: $black;
        }

        .icon-listing {
            li {
                &:not(:last-child) {
                    margin-bottom: 21px;
                }

                i {
                    font-size: 12px;
                    background-color: $white;
                    border-radius: 100%;
                    padding: 9px 8px;
                    color: $primary;
                    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.09);
                    display: inline-block;
                    margin-right: 6px;
                    margin-left: 5px;

                }

                span {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    color: $text;
                    font-family: $font-family;
                }
            }
        }

        img {
            width: 297px;
        }
    }

    .share-blog {
        padding-top: 64px;
        padding-bottom: 46px;
        border-bottom: 1px solid $border;
        flex-wrap: wrap;

        .tag-blog {
            .tag {
                li {
                    margin-bottom: 0;

                    a {
                        border: 1px solid $border;
                        text-transform: uppercase;
                    }
                }
            }

        }

        .social-blog {
            .social a {
                color: $main;
                background-color: $bg5;
                border-radius: unset;

                i {
                    font-size: 13px;
                }

                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }
        }

        span {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: $black;
            margin-right: 15px;
        }

    }
}

.comment-single {
    padding-top: 48px;
    padding-bottom: 62px;

    h3.title {
        font-size: 27px;
        font-weight: 600;
        line-height: 53px;
        color: $black;
    }

    .comment-blog {
        padding-right: 4em;

        .avata {
            img {
                width: 70px;
                border-radius: 100%;
            }
        }

        .content {
            padding-left: 44px;

            .info {
                .date {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                    color: $text4;
                    text-transform: uppercase;
                }
            }

            .repply {
                i {
                    font-size: 28px;
                    color: $black;
                }
            }
        }

        .des {
            margin-top: 12px;
            line-height: 29px;
        }
    }
}

.form-comment {
    background-color: $bg5;
    padding: 60px 50px 80px 50px;
}

.side-bar-right {
    padding-left: 33px;
}

.sidebar-widget {
    padding: 34px 30px;
    background-color: $bg5;

    &:not(:last-child) {
        margin-bottom: 31px;
    }

    .block-heading {
        text-transform: capitalize;
        padding-left: 15px;
        position: relative;
        margin-bottom: 22px;
        color: $black;

        &::before {
            position: absolute;
            content: '';
            height: 100%;
            width: 2px;
            background-color: $primary;
            left: 0;
        }
    }

    .profile-widget {
        margin-top: 33px;
        margin-bottom: 33px;

        .avata {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin-bottom: 17px;
        }

        .name {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 20.16px;
            margin-bottom: 12.58px;
        }

        .job {
            font-size: 14px;
            font-weight: 400;
            line-height: 17.64px;
            color: $text3;
            margin-bottom: 18.98px;
            display: block;
        }

        .des {
            font-weight: 400;
            line-height: 28.8px;
            margin-bottom: 26px;
        }

        .social {
            justify-content: center;

            li {
                a {
                    color: $text3;
                    width: 42px;
                    height: 37px;
                    border: 1px solid $border;
                    border-radius: unset;

                    i {
                        font-size: 10px;
                    }

                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }
                }
            }

        }
    }

    .recent-post-list {
        .list-recent {
            &:not(:last-child) {
                margin-bottom: 32px;
            }

            .recent-image {
                img {
                    width: 102px;
                }

            }

            .recent-info {
                padding-left: 24px;

                .date {
                    i {
                        color: $primary;
                        margin-right: 5px;
                    }

                    span {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 25.8px;
                    @include text-two;
                }
            }
        }
    }

    .category-blog {
        li {
            &:not(:last-child) {
                margin-bottom: 21px;
            }

            a {
                padding: 14px 16px;
                background-color: $white;
                border: 1px solid $border;
                border-radius: 2px;
                color: $text;
                @include transition3;

                &:hover {
                    background-color: $primary;
                    color: $white;
                }

                span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                }
            }
        }
    }

    .category-confidence {
        li {
            &:not(:last-child) {
                margin-bottom: 22px;
            }

            i {
                color: $primary;
                font-size: 25px;
                margin-right: 12px;
            }

            span {
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                color: $text;
            }
        }

    }
}

.sidebar-widget-single {
    .booking-style-1 .mask-banner-part {
        position: relative;
    }

    .booking-style-1 .price-banner-part {
        top: 50%;
        left: 15%;
    }
}

.bg-blog-h4 {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*----------------------Video--------------------*/
.widget-image-video {
    position: relative;

    .widget-icon-video {
        @include transition-center;
    }
}

.travel-video {
    padding: 20px 35px 0 0;

    .mask-video {
        position: absolute;
        left: -12.5%;
        bottom: -5%;
        width: auto;
    }

    .mask-enjoy {
        bottom: 2%;
        left: 25%;
        width: auto;
        position: absolute;
    }

    .widget-icon-video {
        position: absolute;
        top: 47%;
        left: 41%;
        transform: translate(-50%, -50%);
    }

    .image-video {
        margin: 0 0 -14px -20px;
    }
}

/*----------------------call-to-action--------------------*/
.callt-to-action {
    background-color: $primary;
    border-radius: 7px;
    padding: 35px 39px 39px 39px;
    position: relative;

    .callt-to-action-content {
        .image {
            margin-right: 43px;

            img {
                width: 74px;
            }
        }

        .content {

            .title-call {
                font-size: 36px;
                font-weight: 700;
                line-height: 45px;
                color: $white;
                margin-bottom: 10px;
            }

            .des {
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                font-family: $font-text;
                color: rgba(255, 255, 255, 0.52);
                text-transform: capitalize;
            }
        }
    }

    .shape-ab {
        position: absolute;
        width: auto;
        right: 22%;
        -webkit-animation: anime-rorate 8s infinite;
        animation: anime-rorate 8s infinite;
    }

    .mask-cta {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -16%;
    }

}

/*----------------------About Us--------------------*/
.inner-content-about {
    padding-left: 6px;

    .btn-wrap-about {
        margin-top: 37px;
        gap: 40px;
        flex-wrap: wrap;

        .profile {

            .image {
                img {
                    width: 56px;
                    height: 56px;
                    border-radius: 100%;
                    border: 4px solid $white;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                }
            }

            .content {
                margin-left: 20px;

                img {
                    width: auto;
                }

                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                }

            }
        }
    }

    .map-check {
        .icon {
            color: $primary;
            margin-right: 14px;
        }

        span {
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
        }
    }
}

.about-us-h2 {
    .mask1-about {
        width: auto;
        position: absolute;
        right: 0;
        top: 0;
        animation: dot-anim-3 3s linear 0s infinite alternate;
    }

    .mask2-about {
        width: auto;
        position: absolute;
        right: 3.7%;
        bottom: 12%;
        -webkit-animation: effect-zoom-out-left 8s infinite;
        animation: effect-zoom-out-left 8s infinite;

    }

    .image-about-us {
        padding-right: 3.5em;
        padding-top: 17px;

        .image-main {
            margin-bottom: -10px;
        }

        .mask1 {
            width: auto;
            position: absolute;
            top: 11%;
            left: -47px;
            animation: dot-anim-3 3s linear 0s infinite alternate;
        }

        .mask2 {
            width: auto;
            position: absolute;
            right: 13%;
            top: 12.3%;
            animation: dot-anim-2 3s linear 0s infinite alternate;
        }
    }

    .content-about-us {
        padding-left: 4px;
        margin-top: -4px;

        .pl-about {
            padding-left: 9px;
        }

        .icon-box-style-4 {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }

        .about-us-list {
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 45px;

            li {
                &:not(:last-child) {
                    margin-bottom: 33px;
                }

                &:hover {
                    background-color: $primary;
                }

                &:hover .number,
                &:hover .experience {
                    color: $white;
                }

                padding: 11px 26px;
                background-color: $white;
                border-radius: 26px;
                box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.07);
                transition: all 0.3s ease-in-out;

                .number {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 30px;
                    margin-right: 10px;
                    color: $primary;
                }

                .experience {
                    font-size: 14px;
                    font-weight: 600;
                    color: $main;
                }
            }
        }
    }
}

.about-us-h3 {
    background-color: $bg6;
    padding-top: 245px;
    padding-bottom: 119px;

    .about-us-h3-image {
        padding-left: 28px;
        padding-right: 71px;

        .image-explore {
            border-radius: 14px;
        }

        .about-vector {
            position: absolute;
            top: -1%;
            left: -5%;
            rotate: -24deg;

            .icon {
                color: $primary;
            }

            span {
                font-size: 33px;
                font-weight: 400;
                line-height: 33.8px;
                @include transition-center;
            }
        }

        p {
            font-size: 17px;
            font-weight: 600;
            margin-top: 22px;
            padding-bottom: 15px;
            border-bottom: 1px dashed #2E3830;
        }
    }

    .about-us-h3-content {
        padding-left: 14px;
        margin-top: -5px;

        .ranger-suport {
            font-size: 18px;
            font-weight: 600;
            line-height: 33px;
            text-transform: capitalize;
        }

        .list-icon {
            li {
                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                i {
                    color: $primary;
                    margin-right: 7px;
                }
            }
        }

        .about-wrap {
            gap: 44px;
            flex-wrap: wrap;
        }
    }
}

.about-us-h4 {
    padding-top: 103px;
    padding-bottom: 128px;

    .image-about-h4-wrap {
        margin-right: 5.5em;
        padding-left: 13px;
        padding-top: 23px;

        .about-wrap-left {
            max-width: 372px;
            width: 100%;

            .quote {
                font-size: 20px;
                font-weight: 700;
                color: $white;
                background-color: $primary;
                padding: 20px 26px;
                clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
                top: 31.7%;
                left: -41%;
                rotate: -90deg;
                position: absolute;
            }
        }

        .about-wrap-right {
            max-width: 349px;
            width: 100%;
            position: absolute;
            top: 31.5%;
            right: 0;
        }

        .image-about-item {
            .shape-about-h4 {
                position: absolute;
                bottom: -20px;
                left: 0;
                right: 0;
            }
        }

        .box-year {
            background-color: $white;
            padding: 32px 34px 25px 34px;
            display: inline-block;
            border: 2px dashed $border;
            position: absolute;
            bottom: -17.5%;
            left: 29%;
            animation: dot-anim-3 3s linear 0s infinite alternate;

            .number {
                font-size: 50px;
                font-weight: 700;
                line-height: 25px;
                color: $primary;
            }

            p {
                font-size: 17px;
                font-weight: 500;
                line-height: 25px;
                color: $main;
            }
        }
    }

    .inner-content-about {
        padding-left: 17px;
    }
}

.about-us-h5 {
    .image {
        margin-left: -1.5em;
        padding-bottom: 26px;
        background-color: $primary;

        .about-vector {
            position: absolute;
            right: 13px;
            bottom: 66px;
            z-index: 1;
            transform: rotate(334deg);

            span {
                font-size: 33px;
                font-weight: 400;
                line-height: 32px;
                position: absolute;
                @include transition-center;
            }
        }

        .mask-image-bottom {
            position: absolute;
            bottom: 0;
            color: $primary;
            left: 0;
            right: 0;
        }
    }

    .content {
        padding-top: 3.7em;
        padding-left: 6.2em;
        padding-right: 2em;

        .ranger-suport {
            font-size: 18px;
            font-weight: 600;
            line-height: 33px;
            text-transform: capitalize;
        }

        .list-icon {
            li {
                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                i {
                    color: $primary;
                    margin-right: 7px;
                }

                span {
                    text-transform: capitalize;
                }
            }
        }

        .about-wrap {
            gap: 44px;
        }
    }
}

.about-us-archieve {
    background-color: $white;

    .bg-archieve-about {
        background-color: $bg5;
        width: 100%;
        height: 40%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

/*----------------------Tour Package--------------------*/
.tour-package {
    background-color: $bg3;
    background-image: url(../../assets/images/page/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tour-package2 {
    padding-top: 120px;

    .tour-package-swipper-wrap {
        .swiper-button-next {
            right: -7% !important;
        }

        .swiper-button-prev {
            left: -7% !important;
        }
    }

    .tour-link {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background: $primary;
        font-size: 15px;
        font-weight: 500;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        flex-direction: column;

        &:hover {
            background-color: $secondary;
        }

        i {
            display: block;
        }

    }

    .line {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        border: 1px dashed $bg2;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
    }
}

.w-text-heading {
    max-width: 600px;
    width: 100%;
}

/*----------------------Activities--------------------*/
.tf-widget-activities {
    .mask-top {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        z-index: 1;
    }

    .mask-bottom {
        position: absolute;
        bottom: 0;
        left: -10px;
        width: auto;
        z-index: 1;
        -webkit-animation: toRightFromLeft 15s infinite;
        animation: toRightFromLeft 15s infinite;
    }

    .tabs-activities-content {
        background-color: $primary;
        border-radius: 8px;
        padding: 16px 10em 0 16px;
        margin-right: 4em;
        margin-left: 5em;

        .activities-image {
            img {
                width: 370px;
                // width: 100%;
                margin-left: -6em;
                // margin-right: 6em;
                border-radius: 8px;
            }
        }

        .activities-content {
            padding: 38px 55px;

            .icon-activitis {
                &:hover {
                    rotate: 45deg;
                }

                width: 123px;
                height: 123px;
                border-radius: 100%;
                background-color: rgba(1, 6, 4, 0.1);
                color: $white;

                i {
                    font-size: 40px;
                }
            }

            .title-activitis {
                font-size: 27px;
                line-height: 33px;
            }

            .icon-list-wrap {
                &:not(:last-child) {
                    margin-right: 30px;
                }

                .icon {
                    font-size: 36px;
                }

                .icon-lists {
                    font-size: 16px;
                    font-weight: 600;
                    margin-left: 17px;
                    font-family: $font-family !important;
                    line-height: 30px;
                }
            }

            .btn-wrap-activitis {
                padding-top: 50px;
                border-top: 1px solid rgba(255, 255, 255, 0.07);

                .get-start {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 25px;
                    padding-left: 20px;
                }

            }

            .mask-tab {
                position: absolute;
                width: auto;
                right: -13em;
                top: 60px;
            }

        }
    }

}

/*----------------------Counter--------------------*/
.widget-counter {
    background-color: $primary;
    background-image: url(../../assets/images/page/bg-counter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 124px;
    padding-bottom: 124px;

    .counter-top {
        position: absolute;
        top: -40px;
        width: 100%;
        height: 80px;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .counter-bottom {
        position: absolute;
        bottom: -50px;
        width: 100%;
        height: 80px;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .image {
        img {
            width: auto;
        }
    }

    .content {
        margin-left: 38px;

        .title-call {
            font-size: 42px;
            line-height: 45px;
            margin-bottom: 10px;
        }

        .des {
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            font-family: "DM Sans", sans-serif;
            color: rgba(255, 255, 255, 0.52);
            text-transform: capitalize;
        }
    }
}

.widget-counter2 {
    padding-top: 120px;
}

.impressino-counter {
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10px;
    position: relative;

    .icon-fly {
        font-size: 30px;
        color: $primary;
        position: absolute;
        @include transition-center;
    }

}

/*----------------------destination--------------------*/
.widget-destination {
    padding-top: 317px;
}

.grid-three-destination {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 30px;
}

.widget-destination1 {
    .shape-destination {
        position: absolute;
        width: auto;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

.widget-destination1 {
    padding-top: 120px;

    &.destination-home5 {
        .destination-explore {
            margin-top: 66px;
            margin-bottom: -5px;
        }
    }
}

.top-destination {
    padding-top: 30em;
    padding-bottom: 120px;
}

.top-destination2 {
    .tour-des-top {
        font-weight: 600;
        color: $main;
        padding: 6px 36px;
        border-radius: 23px;
        border: 1px dashed $border;
        display: inline-block;
    }
}

.destination-explore {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    color: $main;
    margin-top: 82px;
    margin-bottom: 11px;
}

/*----------------------Brand logo--------------------*/
.line-brand-logo {
    .line {
        width: 100%;
        height: 1px;
        margin: 12px 0;
        background-color: $border;
    }

    .line-text {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        @include transition-center;
        background-color: $white;
        padding: 0 40px;
        position: absolute;
        color: $main;
    }
}

.brand-logo {
    img {
        max-width: 133px;
        width: 100%;
    }
}

.widget-brand-logo {
    padding-top: 63px;
    padding-bottom: 127px;
}

.brand-logo-widget {
    padding: 91px 0;
}

.brand-logo-h4 {
    .line-brand-logo .line-text {
        background-color: $bg5;
    }
}

.brand-logo-h4 {
    .widget-brand-logo {
        padding-top: 57px;
        padding-bottom: 68px;
    }
}

/*----------------------Adventure--------------------*/
.adventure-content {
    margin-bottom: -8.3em;
    padding: 63px 0 0 65px;
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0 -21px 26px 0 rgba(0, 0, 0, 0.02);
}

/*----------------------Testimonial--------------------*/
.widget-testimonial-style01 {
    padding-top: 289px;
    padding-bottom: 158px;
    background-color: $bg8;
    background-image: url(../../assets/images/page/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .box-testimonial1 {
        margin-top: -5px;
        margin-left: 45px;
        rotate: -15deg;
        z-index: 2;
        position: relative;
        animation: dot-anim-2 3s linear 0s infinite alternate;
    }

    .box-testimonial2 {
        rotate: 7deg;
        z-index: 1;
        position: absolute;
        left: 26%;
        top: 15%;
    }

    .widget-testimonial {
        margin-left: 44px;
        margin-right: 20px;
    }
}

.widget-tes-style2 {
    padding-top: 270px;
    padding-bottom: 122px;

    .widget-testimonial-style3 {
        max-width: 900px;
        width: 100%;
        margin: auto;
    }
}

.widget-tes-style3 {
    .content {
        padding: 6.2em 26em 4em 7em;
    }

    .image {
        margin-right: -2em;

        .about-vector {
            position: absolute;
            right: 13px;
            bottom: 39px;
            z-index: 1;
            transform: rotate(334deg);

            span {
                font-size: 33px;
                font-weight: 400;
                line-height: 32px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .mask-ft-right {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -25px;
            width: auto;
        }
    }

    .tes-style3Swiper {
        .swiper-pagination {
            z-index: 2;
            text-align: right;
        }
    }
}

.start {
    color: $secondary;
}

/*----------------------Banner part--------------------*/

.banner-part-item {
    .btn-booking {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0.05em;
        display: block;

        i {
            margin-left: 10px;
        }
    }

    .mask-banner-bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -35px;
    }
}

.booking-style-1 {
    padding: 32px 37px 55px 37px;

    &:hover .mask-banner-part {
        scale: 1.1;
    }

    .sale-up {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        display: block;
    }

    .title {
        font-size: 34px;
        font-weight: 400;
        line-height: 44px;
        color: $main;

        &:hover {
            color: $primary;
        }
    }

    .mask-banner-part {
        width: auto;
        position: absolute;
        top: 27px;
        right: 0;
        transition: all 0.3s ease;
    }

    .price-banner-part {
        width: 65px;
        height: 65px;
        border-radius: 100%;
        background-color: $primary;
        font-size: 16px;
        font-weight: 600;
        color: $white;
        line-height: 20.83px;
        position: absolute;
        top: 23%;
        left: 42%;
    }

}

.booking-style-2 {
    padding: 38px 37px 64px 40px;

    &:hover .mask-banner-part {
        scale: 1.1;
    }

    .sale-up {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        display: block;
    }

    .title {
        font-size: 23px;
        font-weight: 700;
        line-height: 44px;
        color: $main;

        &:hover {
            color: $primary;
        }
    }

    .mask-banner-part {
        max-width: 148px;
        width: 100%;
        position: absolute;
        border-radius: 74px 74px 0 0;
        top: 35px;
        right: 21px;
        transition: all 0.3s ease;

        &::before {
            position: absolute;
            content: '';
            left: -10px;
            top: -10px;
            width: 100%;
            height: 100%;
            border-radius: 74px 74px 0 0;
            border: 1px solid $primary;

        }
    }

    .banner-part-shape1 {
        width: auto;
        position: absolute;
        bottom: 16%;
        left: 47%;
    }

    .banner-part-shape2 {
        position: absolute;
        top: 24px;
        right: 27%;
        width: auto;
    }

    .widget-icon-video {
        width: 42px;
        height: 42px;
        position: absolute;
        right: 19%;
        bottom: 11%;

        i {
            font-size: 10px;
        }
    }
}

.booking-style-3 {
    padding: 36px 37px 64px 32px;

    &:hover .mask-banner-part {
        scale: 1.1;
    }

    .sale-up {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        display: block;
    }

    .title {
        font-size: 23px;
        font-weight: 700;
        line-height: 44px;
        color: $main;

        &:hover {
            color: $primary;
        }
    }

    .mask-banner-part {
        width: 143px;
        background: $white;
        padding: 7px 11px 33px 6px;
        position: absolute;
        top: 14.5%;
        right: 6%;
        rotate: -15deg;
        transition: all 0.3s ease;
    }

    .banner-part-shape1 {
        width: auto;
        right: 40%;
        position: absolute;
        bottom: 33%;
    }

}

/*----------------------Video--------------------*/
.title-video {
    font-size: 170px;
    font-weight: 400;
    line-height: 170px;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        width: 72%;
        height: 3px;
        background-color: $white;
        bottom: 17px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.widget-video-style2 {
    padding-top: 310px;
}

/*----------------------service--------------------*/
.widget-service {
    padding-top: 112px;
    padding-bottom: 15px;
}

.widget-service-h5 {
    .mask-home5 {
        height: 295px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bg1;
    }
}

/*----------------------Feature--------------------*/
.widget-feature {
    .feature-shape {
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        z-index: 1;
    }

    .image-feature-wrap {
        padding-right: 6px;

        .image-feature {
            .image {
                border-radius: 260px 260px 0 0;
            }

            .shape-image {
                position: absolute;
                bottom: -37px;
                left: 0;
                right: 0;
            }
        }

        .exploring {
            width: 160px;
            height: 150px;
            background-color: $primary;
            position: absolute;
            bottom: 16%;
            left: -15%;
            border-radius: 29px;
            rotate: -45deg;
            animation: dot-anim-3 3s linear 0s infinite alternate;

            span {
                font-size: 33px;
                font-weight: 400;
                rotate: 45deg;
            }
        }
    }

    .content-feature-wrap {
        padding-left: 3em;
        margin-top: -6px;
        padding-right: 30px;

        .feature-list-wrap {
            background-color: $white;
            border-radius: 13px;
            box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.06);
            padding: 26px 26px 26px 26px;

            .feature-list {
                border-radius: 8px;
                border: 1px solid $border;
                display: flex;
                flex-wrap: wrap;

                .feature-list-iteam {
                    padding: 25px 3px 17px 40px;
                    border: 1px solid $border;
                    width: 50%;

                    .icon {
                        width: 55px;
                        height: 55px;
                        border-radius: 100%;
                        border: 1px dashed $primary;
                        font-size: 30px;
                        color: $primary;
                        margin-right: 15px;
                    }

                    span {
                        font-size: 20px;
                        font-weight: 600;
                        color: $main;
                    }
                }
            }
        }
    }

}

.exploring {
    width: 160px;
    height: 150px;
    background-color: $primary;
    position: absolute;
    border-radius: 29px;
    rotate: -45deg;

    span {
        font-size: 33px;
        font-weight: 400;
        rotate: 45deg;
    }
}

.bg-ab-feature {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    img {
        width: 100%;
    }
}

.widget-feature2 {
    .image-feature2 {
        margin-right: -38px;

        .mask-ft-right {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -4%;
            width: auto;
        }

        .mask-ft-bottom {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2%;
        }
    }

    .exploring {
        bottom: 16%;
        left: 15%;
        animation: dot-anim-3 3s linear 0s infinite alternate;
    }

    .content-feature2 {
        padding: 7em 22em 0 6.8em;
    }
}

.widget-feature4 {
    .mask-faeture4 {
        height: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        color: $bg6;
        position: absolute;
        z-index: 1;
    }

    .feature-wrap-box {
        padding-right: 7em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 43px 70px;
    }

    .image-feature4 {
        margin-top: -5em;
        margin-left: -3em;
        margin-right: -2em;
    }
}

/*----------------------Mobie App--------------------*/
.mobie-app {
    background-color: $main;
    border-radius: 14px;

    .mobie-app-image {
        padding: 63px 89px 75px 89px;

        .title-heading {
            font-size: 38px;
            line-height: 49px;
            margin-top: -3px;
            margin-bottom: 17px;
        }

        .mobie-wrap {
            a {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                img {
                    width: auto;
                }
            }
        }

        .qr-code {
            position: absolute;
            right: -17px;
            bottom: 0;

            span {
                font-size: 15px;
                font-weight: 500;
                line-height: 30px;
                display: block;

            }

            img {
                width: auto;
            }
        }
    }

    .mobie-app-content {
        .mask-mobie {
            width: auto;
        }

        .phone {
            position: absolute;
            left: 21px;
            bottom: 0;
            width: auto;
        }
    }
}

/*----------------------Faq--------------------*/
.widget-faq {
    .image-faq {
        margin-left: -78px;
        margin-right: -39px;
        margin-top: 8px;
        margin-bottom: -23px;
    }

    .content-faq {
        padding-left: 25px;
    }

}

/*----------------------Top Week--------------------*/
.widget-top-week {
    background-image: url(../../assets/images/page/bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 126px 0 167px 0;

    .on-week-swipper-wrap {
        .swiper-button-prev {
            left: 87%;
            top: -18%;
        }

        .swiper-button-next {
            top: -18%;
        }

    }
}

.top-this-week-slide {
    .swiper-button-next, .swiper-button-prev {
        width: 60px;
        height: 60px;
    }

    .swiper-button-next {
        right: -6%;
    }

    .swiper-button-prev {
        left: -6%;
    }
}

.top-this-week-about-us {
    padding-top: 370px;
    padding-bottom: 218px;
}

/*----------------------Instagram--------------------*/
.widget-instagram {
    padding: 26px 28px;
}

.instagram-post {
    padding-top: 120px;

    .bg-primary-ig {
        background-color: $primary;
        height: 70%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .instagram-post-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 22px;
    }
}

.tf-instagram {
    display: block;
    overflow: hidden;

    &:hover .mask-absolute {
        transform-origin: center;
        opacity: 0.9;
        visibility: visible;
        width: 100%;
        height: 100%;
    }

    &:hover img {
        transform: scale(1.1);
    }

    &:hover .mask-bg {
        visibility: visible;
        opacity: 1;
    }

    img {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .mask-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        margin: 15px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.4s ease-out;
    }

    .mask-absolute {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: "";
        left: 0;
        right: 0;
        transition: all 0.3s ease-in-out;

        i {
            @include transition-center;
            font-size: 30px;
            color: $white;
            transition: all 0.4s ease-out;

            &:hover {
                color: $primary;
            }
        }
    }
}

/*----------------------archieve tour--------------------*/
.archieve-tour {
    padding-top: 120px;
    padding-bottom: 105px;

    .tf-my-listing {
        border: 1px solid $border;
        padding: 7px 27px;
        border-radius: 10px;

        .showing {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: $main;
        }

        .listing-all-wrap {
            .toolbar-list {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 26px;
                margin-left: 30px;

                .form-group {
                    cursor: pointer;

                    a {
                        font-size: 20px;
                    }
                }
            }

            .group-select-recently {
                .nice-select {
                    font-size: 16px;
                    font-weight: 500;
                    color: $text;
                    border: unset !important;

                    i {
                        margin-right: 10px;
                    }

                    &.open .list {
                        width: auto;
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
    }

    .tf-my-listing1 {
        .filter-tour-package {
            margin-top: 20px;

            .nice-select {
                border-radius: 50px;
                padding: 15px 35px 15px 25px;

                i {
                    font-size: 15px;
                    margin-right: 10px;
                }

                .current {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 28px;
                    color: $main;
                }

                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        .listing-all-wrap {
            .nice-select {
                border: unset !important;
                font-size: 16px;
                font-weight: 600;
                line-height: 19.53px;

                i {
                    margin-right: 10px;
                }

                &.open .list {
                    width: auto;
                    right: 0;
                    left: auto;
                }
            }
        }
    }


}

.listing-list-car-wrap-grid3 {
    .listing-list-car-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .listing-list-car-grid.listing-list-car-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.listing-list-car-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.listing-list-car-grid {
    &.listing-list-car-list {
        grid-template-columns: 1fr;

        .tour-listing {
            padding: 13px;
            display: flex;

            .tour-listing-image {
                max-width: 258px;
                width: 100%;
                border-radius: 8px;
                overflow: hidden;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            .tour-listing-content {
                padding: 0 37px 0 37px;
                margin-top: 0;
                width: 100%;
            }
        }
    }
}

.listing-list-car-wrap .form-group .btn-display-listing-grid.active,
.listing-list-car-wrap .form-group .btn-display-listing-list.active {
    color: $primary;
}

/*----------------------terms-condition--------------------*/
.terms-condition {
    padding-top: 116px;
    padding-bottom: 157px;

    .tab-terms-condition {
        .tab-content {
            padding-top: 21px;

            .title-ter {
                font-size: 36px;
                font-weight: 700;
                line-height: 50px;
                margin-bottom: 47px;
            }

            .des {
                font-size: 21px;
                font-weight: 700;
                line-height: 30px;
                color: $main;
                display: inline-block;
                margin-bottom: 21px;
            }

            .text {
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
            }

            .list-term {
                li {
                    margin-left: 29px;

                    &:not(:last-child) {
                        margin-bottom: 19px;
                    }

                    list-style: disc;

                    span {
                        font-size: 18px;
                        font-weight: 600;
                        color: $main;
                        text-transform: capitalize;
                        line-height: 40px;
                    }
                }
            }

        }
    }
}

/*----------------------faq--------------------*/
.inner-faq {
    padding-top: 104px;
    padding-bottom: 143px;

    .faq-list {
        .faq {
            .faq-question {
                padding: 22px 35px 22px 35px;
            }

            .faq-answer {
                margin-top: -8px;
            }
        }
    }
}

.header-search-faq {
    padding-top: 138px;
    padding-bottom: 110px;

    .inner-header {
        .title {
            font-size: 55px;
            line-height: 70px;
            text-transform: inherit;
        }

        .des {
            margin-top: 18px;
            margin-bottom: 35px;
        }

        .form-search-faq {
            margin: 0 auto;
        }

        .popular {
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            color: $main;
            margin-right: 24px;
        }

        .tag-wrap {
            margin-top: 32px;

            .tag-popular {
                li {
                    &:not(:last-child) {
                        margin-right: 16px;
                    }

                    span {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 18px;
                        color: $text;
                        padding: 10px 18px;
                        background-color: $white;
                        border-radius: 5px;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
                        display: inline-block;
                    }
                }
            }
        }
    }
}

/*----------------------login--------------------*/
.login {
    padding-top: 94px;
    padding-bottom: 105px;

    .login-wrap {
        padding: 29px 37px 35px 25px;
        border-radius: 10px;
        box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.07);

        .image {
            max-width: 444px;
            width: 100%;
            margin-right: 55px;

            img {
                border-radius: 10px;
            }
        }

        .content {
            width: 100%;

            .inner-header-login {
                margin-bottom: 28px;

                .title {
                    margin-bottom: 13px;
                }

                .sale {
                    font-size: 14px;
                    line-height: 14px;
                    border-radius: 5px;
                    font-weight: 600;
                    padding: 4px 10px;
                    background-color: $secondary;
                    color: $white;
                }

                p {
                    font-size: 15px;
                    font-weight: 400;
                    margin-left: 12px;
                }
            }

            .input-wrap {
                margin-bottom: 36px;
            }

            .input-wrap-social {
                .or {
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 26px;
                    color: $main;
                    position: relative;
                    display: block;
                    margin-bottom: 8px;

                    &::before {
                        width: 145px;
                        height: 1px;
                        background-color: $text5;
                        position: absolute;
                        content: '';
                        left: 30px;
                        top: 50%;
                        transform: translateY(-50%);

                    }
                }

                .login-social {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }

                    font-size: 15px;
                    font-weight: 500;
                    line-height: 26px;
                    color: $main;
                    padding: 12px 15px;
                    border: 1px solid rgba(0, 0, 0, 0.26);
                    border-radius: 6px;

                    img {
                        width: auto;
                        margin-right: 12px;
                    }
                }
            }

            .btn-submit {
                width: 100%;
                border-radius: 7px;
                text-transform: uppercase;
            }

            .account {
                color: $main;
                font-size: 15px;
                font-weight: 500;
                margin-right: 20px;
            }

            .link-login {
                display: inline-block;
                font-size: 15px;
                font-weight: 600;
                color: $white;
                padding: 4px 15px;
                background-color: $primary;
                border-radius: 5px;
            }
        }
    }
}

/*----------------------contact us--------------------*/
.contact-us {
    .box-contact {
        border-radius: 8px;
        border: 1px solid $border;
        padding: 61px 40px 54px 40px;
        box-shadow: 0 15px 10px 0 rgba(242, 242, 242, 0.18);

        .icon {
            color: $primary;
            height: 71px;

        }

        span {
            font-size: 24px;
            font-weight: 600;
            line-height: 30px;
            color: $main;
            margin-top: 26px;
            margin-bottom: 18px;
            display: block;
        }
    }

    .contact-us-wrap {
        padding: 56px 65px 57px 65px;
        margin-left: -25px;

        & > .inner-header {
            .title {
                font-size: 36px;
                font-weight: 600;
                line-height: 48px;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }
        }

    }

    .contact-us-map {
        padding-right: 4.5em;

        .inner-header {

            .title {
                margin-bottom: 36px;

            }
        }

        .map,
        #map {
            height: 559px;
        }
    }
}

/*----------------------Team--------------------*/
.team-member-page {
    .team-member-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 85px 58px;
    }
}

.single-destinaion-content {
    .inner-haeder {
        i {
            color: $primary;
            margin-right: 9px;
        }

        .title {
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 24px;
        }
    }

    .description-wrap {
        .description {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 16px;
            display: inline-block;
            color: $main;
        }

        .des {
            line-height: 34px;
        }

        .listing-des {
            li {
                padding-left: 23px;
                position: relative;

                &::before {
                    width: 7px;
                    height: 7px;
                    background-color: $primary;
                    border-radius: 100%;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 52px;
                    color: $main;
                }

            }
        }

        .listing-icon {
            li {
                i {
                    color: $primary;
                    margin-right: 10px;
                }

                p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 48px;
                    color: $main;
                }

            }
        }
    }

    .image-wrap {
        gap: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.description-wrap {
    .description {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 16px;
        display: inline-block;
        color: $main;
    }

    .des {
        line-height: 34px;
    }
}

/*----------------------Dash-board--------------------*/
.sidebar-dashboard {
    transition: all 0.2s ease-out;
    background-color: $bg12;
    max-width: 320px;
    width: 100%;
    height: 100vh;
    z-index: 99;
    position: fixed;
    left: 0;

    &.actives {
        max-width: 70px;

        .db-menu {
            padding: 55px 10px 50px 10px;

            ul li a {
                padding: 10px 17px;

                span {
                    display: none;
                }
            }
        }

        .db-logo {
            padding: 38px 10px 38px 24px;

            span {
                display: none;
            }
        }
    }

    .db-logo {
        padding: 40px 40px 40px 74px;
        border-bottom: 1px solid rgba(217, 217, 217, 0.08);

        a {

            font-size: 28px;
            font-weight: 700;
            line-height: 35px;
            color: $white;

            img {
                width: 35px;
                margin-right: 10px;
            }
        }
    }

    .db-menu {
        padding: 55px 35px 50px 26px;

        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                &:hover,
                &.active {
                    background-color: rgba(255, 255, 255, 0.05);
                }

                a {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 28px;
                    color: $white;
                    padding: 10px 50px;
                    border-radius: 8px;
                    display: inline-block;


                    i {
                        color: $primary;
                        margin-right: 14px;
                    }
                }
            }
        }
    }
}

.counter-grid-dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.offcanvas {
    .offcanvas-body {
        .logo-canvas {
            margin-bottom: 30px;

            img {
                width: 170px;
            }
        }

        .des {
            color: $text;
            margin-bottom: 20px;
        }

        .canvas-info {
            margin-bottom: 20px;

            li {
                i {
                    color: $primary;
                    font-size: 20px;
                    margin-right: 10px;
                }

                p {
                    color: $text;
                }
            }
        }

        .social {
            li {
                a {
                    background-color: $primary;

                    &:hover {
                        background-color: $secondary;
                        color: $white;
                    }
                }
            }
        }
    }

}

.wrapper-layout-map {
    .wrap-left {
        width: 45%;
        padding: 108px 31px 118px 67px;
    }

    .wrap-right {
        width: 55%;
    }
}

.populer-activities,
.tour-package-swipper {
    padding-bottom: 30px;
    margin-bottom: -30px;

}

.view-all-wrap {
    .view-all {
        margin-right: 15px;
    }
}
